<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype"
            name="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype"
            type="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype">
      </diagramType>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.pellepelster.myadmin.dsl.graphiti.ui.ModelDiagramTypeProvider"
            id="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtypeprovider"
            name="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtypeprovider">
         <diagramType
               id="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.pellepelster.myadmin"
            class="de.pellepelster.myadmin.dsl.graphiti.ui.internal.ExecutableExtensionFactory:de.pellepelster.myadmin.dsl.graphiti.ui.wizards.NewDiagramWizard"
            id="de.pellepelster.myadmin.dsl.graphiti.ui.newmodeldiagramwizard"
            name="New Model Diagram"
            project="false">
      </wizard>
   </extension>
       
        <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype.PropertyContributor"> 
        <propertyCategory category="MyAdmin"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
          contributorId="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype.PropertyContributor">
   <propertyTab
         category="MyAdmin"
         id="myadmin.textdatatype.main.tab"
         label="%Common">
    </propertyTab>
   </propertyTabs>
</extension>
     
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="de.pellepelster.myadmin.dsl.graphiti.ui.modeldiagramtype.PropertyContributor">
        <propertySection
              class="de.pellepelster.myadmin.dsl.graphiti.ui.datatype.text.TextDatatypeSection"
              filter="de.pellepelster.myadmin.dsl.graphiti.ui.datatype.text.TextDatatypePropertySectionFilter"
              id="myadmin.textdatatype.main.section"
              tab="myadmin.textdatatype.main.tab">
        </propertySection>
    </propertySections>
</extension>

</plugin>
