<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.pellepelster.myadmin"
            name="%NewProjectCategoryName">
      </category>
      <wizard
            category="de.pellepelster.myadmin"
            class="de.pellepelster.myadmin.ui.internal.NewProjectWizard"
            id="de.pellepelster.myadmin.ui.newprojectwizard"
            name="%NewProject"
            project="true">
      </wizard>
   </extension>
   <extension
         id="de.pellepelster.myadmin.myadminnature"
         name="MyAdmin Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.pellepelster.myadmin.ui.MyAdminNature">
         </run>
      </runtime>
   </extension>
</plugin>
