<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.pellepelster.myadmin"
            name="%NewProjectCategoryName">
      </category>
      <wizard
            category="de.pellepelster.myadmin"
            class="de.pellepelster.myadmin.ui.internal.NewProjectWizard"
            id="de.pellepelster.myadmin.ui.newprojectwizard"
            name="%NewProject"
            project="true">
      </wizard>
   </extension>
   <extension
         id="buildprojectnature"
         name="MyAdmin Build Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.pellepelster.myadmin.ui.internal.BuildProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="myadmin.runbootstrap"
            name="Run MyAdmin Bootstrap">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.pellepelster.myadmin.ui.internal.RunBootstrapHandler"
            commandId="myadmin.runbootstrap">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="myadmin.runbootstrap"
               id="myadmin.menu.runbootstrap"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  
                              <with
                  variable="selection">
                  <iterate ifEmpty="false" operator="or">
         <adapt type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="de.pellepelster.myadmin.ui.buildprojectnature" />
         </adapt>
      </iterate>
            </with>
                  
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
